  <h2>Liste des Works</h2>

  <div *ngIf="Works">
    <table><tr>
    <td> 
    <table class="Works">
      <tr>
        <th>id     </th>
        <th>Libellé</th>
        <th></th>
      </tr>
      <tr *ngFor="let Work of Works.Elements">
        <td>
          <span (click)="onClick( Work)" class="Work_id">
            <span *ngIf="!Work.modifie">{{Work.id}}</span>
            <span *ngIf= "Work.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="Work.id"/></span>
          </span>
        </td>
        <td>
          <span (click)="onClick( Work)" class="Work_Libelle">
            <span *ngIf="!Work.modifie">{{Work.Libelle}}</span>
            <span *ngIf= "Work.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="Work.Libelle"/></span>
          </span>
        </td>
        <td>
          <span (click)="onClick( Work)" class="Work_Valider">
            <!-- <button *ngIf="Work.modifie" (click)='Work.Valide()'>Valider</button> -->
          </span>
        </td>
      </tr>
    </table>
    <div class="Works_Nouveau">
      <button (click)='Works_Nouveau()'>Nouveau</button>
    </div>
    </td>
    <td *ngIf="e">
    <cWork [e]="e">  
    </cWork>  
    </td>  
    </tr>
    </table>
  </div>

