<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="http_PortMapper ISAPI Extension" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\_freepascal\pascal_o_r_mapping\tools\isapi_http_PortMapper\isapi_http_PortMapper.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
        </handlers>
    </system.webServer>
</configuration>
