  <div *ngIf="Nom_de_la_classes">
    <table>
      <!-- Angular_TypeScript_html_editeurs_champs -->
      <tr>
        <td>
          <span (click)="onClick( Nom_de_la_classe)" class="Nom_de_la_classe_Valider">
            <button *ngIf="Nom_de_la_classe.modifie" (click)='Nom_de_la_classe.Valide()'>Valider</button>
          </span>
        </td>
      </tr>
    </table>
    <div class="Nom_de_la_classes_Nouveau">
      <button (click)='Nom_de_la_classes_Nouveau()'>Nouveau</button>
    </div>
  </div>

