  <h2>Liste des Works</h2>

  <div *ngIf="Works">
    <table class="Works">
      <tr>
        <th>Nom         </th>
        <th>Mot de passe</th>
        <th>Niveau      </th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let Work of Works.Elements">
        <td>
          <span (click)="onClick( Work)" class="Work_nom">
            <span *ngIf="!Work.modifie">{{Work.nom                                                             }}</span>
            <span *ngIf= "Work.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="Work.nom"/></span>
          </span>
        </td>
        <td>
          <span (click)="onClick( Work)" class="Work_mot_de_passe">
            <span *ngIf="!Work.modifie">{{Work.mot_de_passe                                                             }}</span>
            <span *ngIf= "Work.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="Work.mot_de_passe"/></span>
          </span>
        </td>
        <td>
          <span (click)="onClick( Work)" class="Work_niveau">
            <span *ngIf="!Work.modifie">{{Work.niveau                                                             }}</span>
            <span *ngIf= "Work.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="Work.niveau"/></span>
          </span>
        </td>
        <td>
          <span (click)="onClick( Work)" class="Work_Valider">
            <button *ngIf="Work.modifie" (click)='Work.Valide()'>Valider</button>
          </span>
        </td>
        <td>
          <span class="Work_LogTo">
            <button (click)='LogTo( Work)'>S'identifier comme ...</button>
          </span>
        </td>
      </tr>
    </table>
    <div class="Works_Nouveau">
      <button (click)='Works_Nouveau()'>Nouveau</button>
    </div>
  </div>

