  <div *ngIf="e">
    <table>
      <tr>  <td>nProject:</td><td><span (click)="onClick( e)" class="Work_nProject">  <span *ngIf="!e.modifie">{{e.nProject}}</span>  <span *ngIf= "e.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="e.nProject"/></span></span></td></tr>
<tr>  <td>Beginning:</td><td><span (click)="onClick( e)" class="Work_Beginning">  <span *ngIf="!e.modifie">{{e.Beginning}}</span>  <span *ngIf= "e.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="e.Beginning"/></span></span></td></tr>
<tr>  <td>End:</td><td><span (click)="onClick( e)" class="Work_End">  <span *ngIf="!e.modifie">{{e.End}}</span>  <span *ngIf= "e.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="e.End"/></span></span></td></tr>
<tr>  <td>Description:</td><td><span (click)="onClick( e)" class="Work_Description">  <span *ngIf="!e.modifie">{{e.Description}}</span>  <span *ngIf= "e.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="e.Description"/></span></span></td></tr>
<tr>  <td>nUser:</td><td><span (click)="onClick( e)" class="Work_nUser">  <span *ngIf="!e.modifie">{{e.nUser}}</span>  <span *ngIf= "e.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="e.nUser"/></span></span></td></tr>
      <tr>
        <td>
          <span (click)="onClick( e)" class="Work_Valider">
            <button *ngIf="e.modifie" (click)='e.Valide()'>Valider</button>
          </span>
        </td>
      </tr>
    </table>
    <!-- <div class="Works_Nouveau">
      <button (click)='Works_Nouveau()'>Nouveau</button>
    </div> -->
  </div>

