<html ng-app="AUT">
  <header>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
  </header>
  <body>
    <div ng-controller="ctrl_AUT" >
       <form>
         <label for="sDatabases"> Database : </label>
         <select name="sDatabases" id="sDatabases" ng-model="Databases.Nom">
           <option ng-repeat="Database in Databases.Elements" value="{{Database}}">{{Database}}</option>
         </select>
       </form>
       <br>
       <label for="eSQL"> Requête SQL : </label><input type ='text'  id="eSQL"  ng-model="SQL" ng-keydown="eSQLKeyDown($event)" size="100">
       <br>
<div>
  <div class="col-sm-3 text-left">Arbre</div>
  <div ng-repeat="Definition in Definitions">
    <div class="col-sm-1 text-left">
      <table color="lime"; >
        <tr>
          <td>
            <span ng-click="Tri_Click( Definition.NomChamp)">{{Definition.LibelleChamp}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <input type ='text'  id="eFiltre_{{Definition.NomChamp}}"
                   value="{{Definition.ValeurFiltreChamp}}"
                   ng-keydown="eFiltre_KeyDown($event,Definition.NomChamp)" size="5">
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-sm-1 text-left" ng-click="TriClick('0')">Reset Tri</div>
</div>

       <br>
       <br>
       <br>
       <br>
       <br>
       <script type="text/ng-template" id="LigneChamps">
          <div ui-tree-handle>
            <span class="col-sm-3">
            <a class="btn btn-success" data-nodrag ng-click="toggle(this)">
               <span class="glyphicon"
                     ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
               </span>
            </a>
            {{node.Nom}}
            </span>

          <div ng-repeat="Definition in Definitions">
            <div class="col-sm-1 text-left">{{node[Definition.NomChamp]}}</div>
          </div>

          </div>
          <br>
          <ol ui-tree-nodes="options" ng-model="node.Elements" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.Elements" ui-tree-node ng-include="'LigneChamps'"></li>
          </ol>
          <br>
       </script>
       <div ui-tree>
         <ol ui-tree-nodes="" ng-model="root" id="tree-root">
           <li ng-repeat="node in root.Elements" ui-tree-node ng-include="'LigneChamps'">
           </li>
         </ol>
       </div>
    </div>
    <!-- dependencies -->
    <!--
    <script src="bower_components/jquery/dist/jquery.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <!--
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script type="text/javascript" src="angular-ui-tree.min.js"></script>
    <link rel="stylesheet" href="angular-ui-tree.css">
    <script type="text/javascript" src="AUT.js"></script>
    <!--
    <link rel="stylesheet" href="AUT.css">
    -->
  </body>
</html>
