<html ng-app="AUT">
  <header>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
  </header>
  <body>
    <div ng-controller="ctrl_AUT" >
       <form>
         <label for="sDatabases"> Database : </label>
         <select name="sDatabases" id="sDatabases" ng-model="Databases.Nom">
           <option ng-repeat="Database in Databases.Elements" value="{{Database}}">{{Database}}</option>
         </select>
       </form>
       <br>
       Requête SQL :<input type ='text'  id="eSQL"  ng-model="SQL" ng-keydown="eSQLKeyDown($event)" size="50">
       <br>
       <div ng-include="treeHeader_html_url"></div>
       <br>
       <br>
       <br>
       <br>
       <br>
       <div ui-tree>
         <ol ui-tree-nodes="" ng-model="root" id="tree-root">
           <li ng-repeat="node in root.Elements" ui-tree-node ng-include="'treeNode.html'"></li>
         </ol>
       </div>
    </div>
    <!-- dependencies -->
    <!--
    <script src="bower_components/jquery/dist/jquery.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <!--
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script type="text/javascript" src="angular-ui-tree.min.js"></script>
    <link rel="stylesheet" href="angular-ui-tree.css">
    <script type="text/javascript" src="AUT.js"></script>
    <!--
    <link rel="stylesheet" href="AUT.css">
    -->
  </body>
</html>
