_Configuration..ini
_Configuration.ini
*.bak
*.pas.bak
/lib/x86_64-linux/*.compiled
/OD_DelphiReportEngine/Components/Components_fptest/lib/x86_64-linux
*.compiled
lib
log
*.o
*.ppu
*.~4gl
*.~dti
*.~ml
*.~rc
*.~tlb
.svn
*.lpi~
*.lps~
*.lfm~
*.dbg
*.or
.gitignore~
/.project
libmysql.dll
libmysqlclient.so.16
libmysqlclient.so.18
sqlite3.dll
/fpcunit/hDessinnateur_web/*.or
/fpcunit/hDessinnateur_web/fug_hDessinnateur_web.res
/fpcunit/test_long_file_name/test_long_file_name.exe
callgrind.out.*
/jsWorks/etc/_Configuration.ini
/fpcunit/hDessinnateur_web/fu_hDessinnateur_web.exe
*.a
*.rst
*.stackdump
*.obj
*.lps
/tools/OpenDocument_DelphiReportEngine/OpenDocument_DelphiReportEngine.obj
/jsWorks/*.obj
/jsWorks/*.dbg
/jsWorks/http_jsWorks.exe
/jsWorks/http_jsWorks
/jsWorks/http_PortMapper.exe
/jsWorks/http_PortMapper
/jsWorks/jsWorks.exe
/jsWorks/jsWorks
tools/Installation_Check/etc/_Configuration.ini
tools/Installation_Check/Installation_Check
tools/Installation_Check/Installation_Check.exe
tools/Installation_Check/libssh2.dll
tools/FormatFloat/Format_Float_Patch/Format_Float_Patch
tools/FormatFloat/Format_Float_test_case/Format_Float_test_case
tools/FormatFloat/project1
fpcunit/fuPASCAL_O_R_MAPPING/fuPASCAL_O_R_MAPPING
fpcunit/fuPASCAL_O_R_MAPPING/etctools/test_dimensions_image/terminals.png
tools/test_dimensions_image/etc/
fpcunit/fuPASCAL_O_R_MAPPING/etc/
tools/test_dimensions_image/terminals.png
fpcunit/fuPASCAL_O_R_MAPPING/fuPASCAL_O_R_MAPPING.exe
tools/OpenDocument_DelphiReportEngine/etc
tools/OpenDocument_DelphiReportEngine/OpenDocument_DelphiReportEngine
