_Configuration..ini
_Configuration.ini
*.bak
*.pas.bak
/lib/x86_64-linux/*.compiled
/OD_DelphiReportEngine/Components/Components_fptest/lib/x86_64-linux
*.compiled
lib
log
*.o
*.ppu
*.dcu
*.~1~
*.~2~
*.~3~
*.~4~
*.~5~
*.~6~
*.~7~
*.~4gl
*.~dti
*.~ml
*.~rc
*.~tlb
.svn
*.lpi~
*.lps~
*.lfm~
*.dbg
*.rsm
*.or
*.exe
*.dll
__history
.gitignore~
/.project
libmysql.dll
libmysqlclient.so.16
libmysqlclient.so.18
sqlite3.dll
/fpcunit/hDessinnateur_web/*.or
/fpcunit/hDessinnateur_web/fug_hDessinnateur_web.res
/fpcunit/test_long_file_name/test_long_file_name.exe
callgrind.out.*
/jsWorks/etc/_Configuration.ini
/fpcunit/hDessinnateur_web/fu_hDessinnateur_web.exe
*.a
*.rst
*.stackdump
*.obj
*.lps
/tools/OpenDocument_DelphiReportEngine/OpenDocument_DelphiReportEngine.obj
/jsWorks/*.obj
/jsWorks/*.dbg
/jsWorks/http_jsWorks.exe
/jsWorks/http_jsWorks
/jsWorks/http_PortMapper.exe
/jsWorks/http_PortMapper
/jsWorks/jsWorks.exe
/jsWorks/jsWorks
tools/Installation_Check/etc/_Configuration.ini
tools/Installation_Check/Installation_Check
tools/Installation_Check/Installation_Check.exe
tools/Installation_Check/libssh2.dll
tools/FormatFloat/Format_Float_Patch/Format_Float_Patch
tools/FormatFloat/Format_Float_test_case/Format_Float_test_case
tools/FormatFloat/project1
fpcunit/fuPASCAL_O_R_MAPPING/fuPASCAL_O_R_MAPPING
fpcunit/fuPASCAL_O_R_MAPPING/etctools/test_dimensions_image/terminals.png
tools/test_dimensions_image/etc/
fpcunit/fuPASCAL_O_R_MAPPING/etc/
tools/test_dimensions_image/terminals.png
fpcunit/fuPASCAL_O_R_MAPPING/fuPASCAL_O_R_MAPPING.exe
tools/OpenDocument_DelphiReportEngine/etc
tools/OpenDocument_DelphiReportEngine/OpenDocument_DelphiReportEngine
tools/OpenDocument_DelphiReportEngine/OpenDocument_DelphiReportEngine.exe
/jsWorks/android_lamw/jsWorks/bin
/jsWorks/android_lamw/jsWorks/libs
backup
/tools/OpenDocument_DelphiReportEngine/OpenDocument_DelphiReportEngine.exe
/jsWorks/android_lamw/jsWorks/obj
tools/Generateur/Generateur_de_code/04_Parametres
tools/Generateur/Generateur_de_code/06_Resultat
tools/Generateur/Generateur
jsWorks/etc/_Configuration.First-Boss.ini
/tools/Search_and_replace/Search_and_replace
/tools/test_gICAPI/angular-test-gICAPI/src/assets/Data.json
/tools/test_gICAPI/test_gICAPI.zip
*.~df
*.~pa
*.~bp
*.~dp
*.~ds
*.~dpr
*.~dsk
*.~pas
/tools/jsMelder/jsMelder
/jsWorks/udmBatpro_DataModule.lfm
pascal_o_r_mapping/02_Units/CSS_Style_Parser/test
pascal_o_r_mapping/07_sources_externes/ndyacclex/src/yacc/ndyacc
tools/Generateur/etc/_Configuration_Generateur_de_code.ini
/tools/Generateur/libcurl.lib
/jsWorks/etc/_Configuration_Generateur_de_code.ini
.gradle
/tools/lamw/jsNote/bin
/tools/lamw/jsNote/libs
/tools/lamw/jsNote/obj
*.bak2
/tools/jsNote/Cordova/node_modules
/tools/jsNote/Cordova_Angular/Angular/node_modules
/tools/jsNote/Cordova_Angular/Cordova/node_modules
/tools/jsNote/html5_seul/backup
/tools/jsNote/ionic/backup
/tools/jsNote/pas2js/backup
jsLignes.Exclus.txt
*.map
tools/jsFleur_de_vie/jsFleur_de_vie
tools/jsFrequences/pas2js/*.mp3
tools/jsFrequences/pas2js/MuseScore
tools/Quasi_prime/Quasi_prime
tools/Quasi_prime/fuQuasi_prime
tools/FileTree/FileTree
electronic/Arduino/GROVE_barometer_bmp280/lazarus/GROVE_barometer_bmp280
/tools/FileTree/Configuration.ini
/tools/FileTree
/tools/jsWorks_django/app/__pycache__
/tools/jsWorks_django/app/migrations/__pycache__
/tools/jsWorks_django/jsWorks_django/__pycache__
tools/jsSousTitres/etc/IniPropStorage.ini
tools/jsSousTitres/jsSousTitres
/tools/jsCompta/fujsCompta/fujsCompta
/tools/jsCompta/fujsCompta/fujsCompta.exe
/tools/jsCompta/jsCompta
/tools/jsCompta/jsCompta.exe
/tools/jsCompta/*.odt
