_Configuration..ini
_Configuration.ini
*.bak
*.pas.bak
/lib/x86_64-linux/*.compiled
/OD_DelphiReportEngine/Components/Components_fptest/lib/x86_64-linux
*.compiled
lib
log
*.o
*.ppu
*.~4gl
*.~dti
*.~ml
*.~rc
*.~tlb
.svn
*.lpi~
*.lps~
*.lfm~
*.dbg
*.or
.gitignore~
/.project
libmysql.dll
libmysqlclient.so.16
libmysqlclient.so.18
sqlite3.dll
/fpcunit/hDessinnateur_web/*.or
/fpcunit/hDessinnateur_web/fug_hDessinnateur_web.res
/fpcunit/test_long_file_name/test_long_file_name.exe
callgrind.out.*
/jsWorks/etc/_Configuration.ini
/jsWorks/jsWorks
/fpcunit/hDessinnateur_web/fu_hDessinnateur_web.exe
/fpcunit/hDessinnateur_web/*.obj
/fpcunit/test_long_file_name/*.a
/pascal_o_r_mapping/3_Data/*.rst
/*.stackdump
