  <h2>Liste des Nom_de_la_classes</h2>

  <div *ngIf="Nom_de_la_classes">
    <table><tr>
    <td> 
    <table class="Nom_de_la_classes">
      <tr>
        <th>id     </th>
        <th>Libellé</th>
        <th></th>
      </tr>
      <tr *ngFor="let Nom_de_la_classe of Nom_de_la_classes.Elements">
        <td>
          <span (click)="onClick( Nom_de_la_classe)" class="Nom_de_la_classe_id">
            <span *ngIf="!Nom_de_la_classe.modifie">{{Nom_de_la_classe.id}}</span>
            <span *ngIf= "Nom_de_la_classe.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="Nom_de_la_classe.id"/></span>
          </span>
        </td>
        <td>
          <span (click)="onClick( Nom_de_la_classe)" class="Nom_de_la_classe_Libelle">
            <span *ngIf="!Nom_de_la_classe.modifie">{{Nom_de_la_classe.Libelle}}</span>
            <span *ngIf= "Nom_de_la_classe.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="Nom_de_la_classe.Libelle"/></span>
          </span>
        </td>
        <td>
          <span (click)="onClick( Nom_de_la_classe)" class="Nom_de_la_classe_Valider">
            <button *ngIf="Nom_de_la_classe.modifie" (click)='Nom_de_la_classe.Valide()'>Valider</button>
          </span>
        </td>
      </tr>
    </table>
    <div class="Nom_de_la_classes_Nouveau">
      <button (click)='Nom_de_la_classes_Nouveau()'>Nouveau</button>
    </div>
    </td>
    <td *ngIf="e">
    <cNom_de_la_classe [id]="e.id">  
    </cNom_de_la_classe>  
    </td>  
    </tr>
    </table>
  </div>

