*.bak
*.pas.bak
/lib/x86_64-linux/*.compiled
*.compiled
/lib/x86_64-linux
*.o
*.ppu
*.~4gl
*.ddp
*.~ddp
*.~pa
*.~df
*.~dfm
*.~dti
*.~ml
*.~xfm
*.~pas
*.~rc
*.~tlb
.svn
*.lpi~
*.lps~
*.lfm~
.gitignore~
/.project
