[Options]
sRepSource=/home/jean/01_Projets/01_pascal_o_r_mapping/tools/Generateur/Generateur_de_code/patterns/
sRepCible=/home/jean/01_Projets/01_pascal_o_r_mapping/tools/Generateur/Generateur_de_code/Source/
