  <div *ngIf="e">
    <table>
      <tr>  <td>idTag:</td><td><span (click)="onClick( e)" class="Tag_Development_idTag">  <span *ngIf="!e.modifie">{{e.idTag}}</span>  <span *ngIf= "e.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="e.idTag"/></span></span></td></tr>
<tr>  <td>idDevelopment:</td><td><span (click)="onClick( e)" class="Tag_Development_idDevelopment">  <span *ngIf="!e.modifie">{{e.idDevelopment}}</span>  <span *ngIf= "e.modifie"><input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="e.idDevelopment"/></span></span></td></tr>
      <tr>
        <td>
          <span (click)="onClick( e)" class="Tag_Development_Valider">
            <button *ngIf="e.modifie" (click)='e.Valide()'>Valider</button>
          </span>
        </td>
      </tr>
    </table>
    <!-- <div class="Tag_Developments_Nouveau">
      <button (click)='Tag_Developments_Nouveau()'>Nouveau</button>
    </div> -->
  </div>

