MARIADB_DATABASE=wordpress
MARIADB_USER=wordpress
MARIADB_PASSWORD=wordpress
MARIADB_ROOT_PASSWORD=root
WP_HOME=https://example.com
WP_SITEURL=https://example.com
WORDPRESS_PORT=8080
PHPMYADMIN_PORT=8081