<!doctype html>
<html lang="fr">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jsWorks</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
      <div id="pasjsconsole"></div>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"
                  id="tabWork" data-bs-target="#tpWork" aria-controls="tpWork">Work</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"
                  id="tabDevelopment" data-bs-target="#tpDevelopment" aria-controls="tpDevelopment">Development</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"
                  id="tabProject" data-bs-target="#tpProject" aria-controls="tpProject">(Projet)</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" role="tabpanel" tabindex="0"
             id="tpWork" aria-labelledby="tabWork" >
           <table style="width: 100%" border="1">
             <tbody>
               <tr>
                 <td  style="vertical-align: top;">
                   <table>
                     <tbody>
                       <tr>
                         <td>
                           <p><a href="AUT/">Requêteur</a></p>
                           <p>Projet: <span id="span_Project_Name">{{Project.Name}}</span></p>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <div style="overflow:scroll;">
                             <table>
                               <tbody id="tbody_Work">
                               </tbody>
                             </table>
                           </div>
                         </td>
                       </tr>
                     </tbody>
                   </table>
                 </td>
                 <td style="width: 434.5px;height:300px;vertical-align: top;">
                   <p> Début: <input id="Work_Beginning" ng_change="Work_Set()"
                       type="text"> </p>
                   <p>Fin: <input id="Work_End" ng_change="Work_Set()" type="text"></p>
                   <button ng-click="Work_Start()">Démarrer</button> <button ng-click="Work_Stop()">Arrêter</button>
                   <p><textarea id="Work_Description" ng-change="Work_Set()" COLS=40 ROWS=6></textarea></p>
                 </td>
               </tr>
             </tbody>
           </table>
        </div>
        <div class="tab-pane fade" role="tabpanel" tabindex="0"
             id="tpDevelopment" aria-labelledby="tabDevelopment" >
          <table border="0" cellpadding="0" cellspacing="0">
           <tbody>
             <tr>
               <td>
                 <p>Catégorie</p>
                 <p>
                   <select ng-model="Categorie" ng-options="bl.Description for bl in slCategorie"
                     ng_change="Categorie_Set()">
                   </select>
                 </p>
               </td>
               <td>
                 <p>Etat</p>
                 <p>
                   <select ng-model="State" ng-options="bl.Description for bl in slState"
                     ng_change="State_Set()">
                   </select>
                 </p>
               </td>
             </tr>
           </tbody>
          </table>
          <button ng-click="Development_Point()">Point</button>
          <button ng-click="Development_Bug()">Bug</button>
          <p><textarea ng-model="Development.Description" ng_change="Development_Set()" COLS=40 ROWS=6></textarea></p>
        </div>
        <div class="tab-pane fade" role="tabpanel" tabindex="0"
             id="tpProject" aria-labelledby="tabProject" >
           <table >
             <tbody>
               <tr>
                 <td style="vertical-align: top;">
                   <table>
                     <thead>
                       <tr>
                         <th>Projets</th>
                       </tr>
                     </thead>
                     <tbody id="tbody_Project_Project">
                     </tbody>
                   </table>
                 </td>
                 <td>
                   <table style="width: 100%" border="1">
                     <tbody>
                       <tr>
                         <td style="vertical-align: top;">
                           <table>
                             <tbody>
                               <tr>
                                 <td>
                                   <p><a href="AUT/">Requêteur</a></p>
                                   <p>Projet: <span id="span_Project_Project_Name">{{Project.Name}}</span></p>
                                 </td>
                               </tr>
                               <tr>
                                 <td>
                                   <div style="overflow:scroll;">
                                     <table>
                                       <tbody id="tbody_Project_Work">
                                       </tbody>
                                     </table>
                                   </div>
                                 </td>
                               </tr>
                             </tbody>
                           </table>
                         </td>
                         <td style="width: 434.5px;height:300px;vertical-align: top;">
                           <p> Début: <input id="Project_Work_Beginning" ng_change="Work_Set()"
                               type="text"> </p>
                           <p>Fin: <input id="Project_Work_End" ng_change="Work_Set()" type="text"></p>
                           <button ng-click="Work_Start()">Démarrer</button> <button ng-click="Work_Stop()">Arrêter</button>
                           <p><textarea id="Project_Work_Description" ng-change="Work_Set()" COLS=40 ROWS=6></textarea></p>
                         </td>
                       </tr>
                       <tr>
                         <td style="width: 200px;vertical-align: top;">
                           <div style="height:200px;overflow:scroll;">
                             <table style="width: 100%" border="1">
                               <tbody>
                                 <tr ng-repeat="bl in slDevelopment">
                                   <td style="width: 100%; vertical-align: top;"> <a href=""
                                       ng-click="_from_Development(bl);">{{
                                       bl.Description_Short }} </a> </td>
                                 </tr>
                               </tbody>
                             </table>
                           </div>
                         </td>
                         <td style="width: 434.5px;vertical-align: top;">
                            <table border="0" cellpadding="0" cellspacing="0">
                             <tbody>
                               <tr>
                                 <td>
                                   <p>Catégorie</p>
                                   <p>
                                     <select ng-model="Categorie" ng-options="bl.Description for bl in slCategorie"
                                       ng_change="Categorie_Set()">
                                     </select>
                                   </p>
                                 </td>
                                 <td>
                                   <p>Etat</p>
                                   <p>
                                     <select ng-model="State" ng-options="bl.Description for bl in slState"
                                       ng_change="State_Set()">
                                     </select>
                                   </p>
                                 </td>
                               </tr>
                             </tbody>
                            </table>
                            <button ng-click="Development_Point()">Point</button>
                            <button ng-click="Development_Bug()">Bug</button>
                            <p><textarea ng-model="Development.Description" ng_change="Development_Set()" COLS=40 ROWS=6></textarea></p>
                         </td>
                       </tr>
                     </tbody>
                   </table>
               </tr>
               </tr>
             </tbody>
           </table>
      </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="jsWorks.js"></script>
  <script>
     rtl.showUncaughtExceptions=true;
     window.addEventListener("load", rtl.run);
  </script>

</body>
</html>
