<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
    <a routerLink="/custom" routerLinkActive="active">Custom</a>
  <a routerLink="/Categories" routerLinkActive="active">Categories</a>
  <a routerLink="/Developments" routerLinkActive="active">Developments</a>
  <a routerLink="/Projects" routerLinkActive="active">Projects</a>
  <a routerLink="/States" routerLinkActive="active">States</a>
  <a routerLink="/Tags" routerLinkActive="active">Tags</a>
  <a routerLink="/Tag_Developments" routerLinkActive="active">Tag_Developments</a>
  <a routerLink="/Tag_Works" routerLinkActive="active">Tag_Works</a>
  <a routerLink="/Type_Tags" routerLinkActive="active">Type_Tags</a>
  <a routerLink="/Works" routerLinkActive="active">Works</a>
</nav>
<router-outlet></router-outlet>
